<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-plan-heading" jhiTranslate="bazaitcApp.coursePlan.home.createOrEditLabel">Create or edit a Course Plan</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazaitcApp.coursePlan.month" for="field_month">Month</label>
                    <select class="form-control" name="month" formControlName="month" id="field_month">
                        <option value="JANUARY">{{ 'bazaitcApp.Month.JANUARY' | translate }}</option>
                        <option value="FEBRUARY">{{ 'bazaitcApp.Month.FEBRUARY' | translate }}</option>
                        <option value="MARCH">{{ 'bazaitcApp.Month.MARCH' | translate }}</option>
                        <option value="APRIL">{{ 'bazaitcApp.Month.APRIL' | translate }}</option>
                        <option value="MAY">{{ 'bazaitcApp.Month.MAY' | translate }}</option>
                        <option value="JUNE">{{ 'bazaitcApp.Month.JUNE' | translate }}</option>
                        <option value="JULY">{{ 'bazaitcApp.Month.JULY' | translate }}</option>
                        <option value="AUGUST">{{ 'bazaitcApp.Month.AUGUST' | translate }}</option>
                        <option value="SEPTEMBER">{{ 'bazaitcApp.Month.SEPTEMBER' | translate }}</option>
                        <option value="OCTOBER">{{ 'bazaitcApp.Month.OCTOBER' | translate }}</option>
                        <option value="NOVEMBER">{{ 'bazaitcApp.Month.NOVEMBER' | translate }}</option>
                        <option value="DECEMBER">{{ 'bazaitcApp.Month.DECEMBER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazaitcApp.coursePlan.technology" for="field_technology">Technology</label>
                    <input type="text" class="form-control" name="technology" id="field_technology"
                           formControlName="technology"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bazaitcApp.coursePlan.extraPrice" for="field_extraPrice">Extra Price</label>
                    <input type="number" class="form-control" name="extraPrice" id="field_extraPrice"
                           formControlName="extraPrice"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
